<%- layout("partials/boilerplate", {title, user}); %>

  <div class="account-page">

    <div class="account">
      <div class="account-username px-4 py-2">
        <span>
          <%= user.username %>
        </span>
        <button type="button" class="btn btn-outline-secondary" id="update-username">update username</button>
      </div>
      <div class="px-4 py-2 flex-gap hidden">
        <form action="/user/account?_method=PATCH" method="post" class="flex-gap needs-validation" novalidate>
          <input type="text" name="username" id="username" class="form-control" value="<%= user.username %>" required>
          <button type="submit" class="btn btn-secondary">Save</button>
        </form>
        <button type="button" id="cancel-username" class="btn btn-outline-secondary">Cancel</button>
      </div>
      <div class="px-4">
        <div>
          status: <span class="green">
            <%= user.status %>
          </span>
        </div>
        <div>
          role: <%= user.role %>
        </div>
      </div>
      <div class="px-4 pb-2">
        <div>
          <button type="button" class="btn btn-danger" id="change-password">Change Password</button>
        </div>
      </div>
      <div class="px-4 pb-2 flex-gap hidden">
        <form action="/user/account?_method=PUT" method="post" class="flex-direction flex-gap needs-validation"
          novalidate>
          <label for="password" class="form-label mb-0">old password</label>
          <input type="password" name="password[old]" id="password" class="form-control" required>
          <label for="newpassword" class="form-label mb-0">new password</label>
          <input type="password" name="password[new]" id="newpassword" class="form-control" required>
          <button type="submit" class="btn btn-secondary">Save</button>
          <button type="button" id="cancel-password" class="btn btn-outline-secondary">Cancel</button>
        </form>
      </div>
      <div>
        <form action="/user/destroy?_method=DELETE" method="post" class="needs-validation" novalidate>
          <div class="form-check mx-4 my-2 text-sm">
            <input class="form-check-input " type="checkbox" value="" id="invalidCheck" required>
            <label class="form-check-label" for="invalidCheck">
              Deleting account will delete all your created
              listings!
            </label>
            <div class="invalid-feedback">
              You must agree before deteting your account!
            </div>
          </div>
          <div class="px-4 py-2">
            <button type="submit" class="btn btn-danger">DELETE ACCOUNT</button>
          </div>
        </form>
      </div>
    </div>
    <script src="/js/script.js"></script>
    <script src="/js/account.js"></script>
  </div>