<%- layout("partials/boilerplate", { title, user }); %>
  <div class="container-card">
    <% if(!listings.length) { %>
      <div class="error-container">
        <h3 class="error-message">
          <b>
            <% if(myListings) { %>
              Create Listings!!
              <% } else { %>
                Sorry!!! NO listings available now.
                <% } %>
          </b>
        </h3>
      </div>
      <% } else { %>
        <% for(listing of listings) { %>
          <div class="my-card">
            <a href="/listings/<%= listing.item._id %>">
              <img class="listings-img" src="<%= listing.item.image.url %>" alt="image">
              <div>
                <div>
                  <%= listing.item.title %>
                </div>
                <div class="flex-justify-between">
                  <div>
                    &#8377; <%= listing.item.price.toLocaleString() %>
                  </div>
                  <div class="green">
                    <%= listing.time %>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <% } %>
            <% } %>
  </div>