<%- layout("partials/boilerplate", { title, user }); %>

  <div class="listing-container">
    <div class="listing">
      <% if(listingCreatedBy) { %>
        <div>created by <%= listingCreatedBy.username %>
        </div>
        <% } %>
          <img class="listing-img" src="<%= listing.image.url %>" alt="image">
          <div class="listing-content">
            <h4 class="listing-heading">
              <%= listing.title %>
            </h4>
            <p class="listing-description">
              <%= listing.description %>
            </p>
            <div>
              &#8377; <%= listing.price.toLocaleString() %>
            </div>
          </div>
    </div>
    <% if(user && listing.createdBy.toString()===user._id.toString()) { %>
      <div class="flex-gap">
        <form action="/listings/<%= listing._id %>/<%= listing.createdBy %>" method="post">
          <button type="submit" class="btn btn-danger">delete Listing</button>
        </form>
        <button class="btn btn-secondary">
          <a href="/listings/<%= listing._id %>/edit">
            edit listing
          </a>
        </button>
      </div>

      <% } else { %>
        <form action="/listings/<%= listing._id %>" method="post" class="listing-form needs-validation" novalidate>
          <div class="flex-justify">
            <fieldset class="starability-grow">
              <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked
                aria-label="No rating." />
              <input type="radio" id="first-rate1" name="rating" value="1" />
              <label for="first-rate1" title="Terrible">1 star</label>
              <input type="radio" id="first-rate2" name="rating" value="2" />
              <label for="first-rate2" title="Not good">2 stars</label>
              <input type="radio" id="first-rate3" name="rating" value="3" />
              <label for="first-rate3" title="Average">3 stars</label>
              <input type="radio" id="first-rate4" name="rating" value="4" />
              <label for="first-rate4" title="Very good">4 stars</label>
              <input type="radio" id="first-rate5" name="rating" value="5" />
              <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>
          </div>
          <div class="flex-gap flex-direction">
            <div class="flex-justify flex-gap">
              <input name="msg" id="msg" placeholder="feedback!" class="form-control">
            </div>
            <div class="flex-justify">
              <button type="submit" class="btn btn-outline-secondary">rate listing</button>
            </div>
          </div>
        </form>
        <script src="/js/script.js"></script>
        <% } %>
  </div>

  <div class="listing-review">
    <% if(listing.reviews.length) { %>
      <% for(let review of listing.reviews) { %>
        <div class="review-card">
          <h5>
            @ <%= review.username %>
          </h5>
          <div>
            <p class=" " data-rating="<%= review.rating %>">
            <p class="starability-result" data-rating="<%= review.rating %>">
            </p>
          </div>
          <div class="listing-description">
            <%= review.msg %>
          </div>
        </div>
        <% } %>
          <% } %>
  </div>
  <script>
    const accessToken = "<%= accessToken %>"
    const coordinates = "<%= listing.location.geometry.coordinates %>";
    const locationValue = "<%= listing.location.value %>"
  </script>
  <div class="listing-map">
    <div id="map"></div>
  </div>
  <script src="/js/map.js"></script>